<%- include('../partials/header.ejs') %>

<main>
    <div class="check-cases-container">
        <h1>Cases</h1>
        <% if (cases.length) {
            cases.forEach(currentCase => { %>
                <div class="cases-card">
                    <div class="cases-content">
                        <div class="cases-text">
                            <h3 class="cases-title"><%= currentCase.caseTitle %></h3>
                            <h5>Threat Level: <%= currentCase.threatType %></h5>
                            <p><%= currentCase.details %></p>
                        </div>
                        <div class="cases-other-info-container">
                            <div class="time-info"><%= currentCase.createdAt.toLocaleString() %></div>
                            <form method="POST" action="/information/checkCases/<%= currentCase._id %>?_method=DELETE">
                                <button class="delete-button" type="submit">
                                    <i class="fa fa-solid fa-check"></i> Resolve Case
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <h2>There are no cases to display</h2>
        <% } %>
    </div>
</main>

<%- include('../partials/footer.ejs') %>