<%- include('../partials/header.ejs')%>

<main>
    <div class="current-threats-container">
        <h1>Current Threats</h1>
    
        <div class="threat-summary">
          <div class="threat-card">
            <div class="details">
              <span class="count"><%= currentThreats.length%></span>
              <span class="label">Threats</span>
            </div>
          </div>
          <div class="alert-card">
            <span class="alert-title">Critical Threat</span>
            <span class="alert-description">Data is not encrypted in user logging application.</span>
          </div>
        </div>
    
        <div class="grid-container">
          <!-- Placeholder for threat grid items -->
          <% currentThreats.forEach(threat =>  { %>
            <div class="grid-item">
              <div class="shape-container">
                <div><%= threat.title%></div>
                <div class="threat-type"><%= threat.type%></div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
</main>

<%- include('../partials/footer.ejs')%>