<%- include('../partials/header.ejs')%>
<main>
  <div class="recommended-measures-container">
    <div class="recommended-measures-header">Recommended Measures</div>

    <% if (recommendedMeasures.length > 0) { %>
      <% let randomIndices = []; %>
      <% while (randomIndices.length < 4 && randomIndices.length < recommendedMeasures.length) { %>
        <% let randomIndex = Math.floor(Math.random() * recommendedMeasures.length); %>
        <% if (!randomIndices.includes(randomIndex)) { randomIndices.push(randomIndex); } %>
      <% } %>

      <% let value = 1; %>

      <% randomIndices.forEach(index => { %>

        <% if (value === 1) { %>
          <div class="measure-card">
            <h2><%= recommendedMeasures[index].title%></h2>
            <p><%= recommendedMeasures[index].details%></p>
            <p><%= recommendedMeasures[index].recommendation%></p>
          </div>

          <div class="other-warnings">Previous Recommendations &rarr;</div>
          <% value = 0 %>
        <% } else { %>
          <div class="warning-card">
            <div class="warning-text">
              <h3><%= recommendedMeasures[index].title %></h3>
              <p><%= recommendedMeasures[index].details %></p>
            </div>
          </div>
        <% } %>
      <% }) %>
    <% } %>

  </div>
</main>
<%- include('../partials/footer.ejs')%>